.user-item.cross h3{
    text-decoration: line-through;
}

.user-item{
    border: 1px solid black;
    margin: 1rem 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}